<%- include("../partials/start") %>
</head>

<body>
	<%- include("../partials/nav", { isLoggedIn }) %>

	<main class="container">
		<%- include("../partials/flash_msg", { messages }) %>

		<form class="input-group mb-4 mt-0" action="/search" method="get">
			<input type="search" name="name" class="form-control rounded-0" aria-label="Search" aria-describedby="search-addon" />
			<button type="submit" class="btn btn-outline-primary rounded-0" data-mdb-ripple-init>search</button>
		</form>
		<p class="text-center mb-4 text-secondary">search for "<%= name %>" returned <%= count %> items.</p>
		<div id="cardContainer" class="row row-cols-1 row-cols-md-3 g-4"></div>
	</main>

	<%- include("../partials/footer") %>

	<script src="/scripts/product_list.js" items="<%= JSON.stringify(items) %>"></script>

	<%- include("../partials/end") %>
